{
  "openapi": "3.0.3",
  "info": {
    "title": "ModelClone User & automation API",
    "version": "1.0.0",
    "description": "## Who this is for\n\nIntegrators and Business customers automating the same actions a user performs in the ModelClone web app.\n\n## Commercial access flow\n\n1. **Contract & billing** — API access is sold **outside** this HTTP surface (invoice, order form, or your commercial agreement). Hosted card/crypto checkout under `/api/stripe` and `/api/crypto` is for the consumer web app, not the automation contract.\n2. **Business subscription on the account** — The user record must carry **tier `business`** and subscription status **`active` or `trialing`** (set via your normal subscription pipeline or admin tools after payment).\n3. **API key issuance** — A ModelClone admin creates an API key in the admin panel (or via `POST /api/admin/users/{userId}/api-keys` with an admin JWT). The plaintext secret is shown **once** (`mcl_…`).\n4. **Automation** — Requests use `X-Api-Key: mcl_…` (or `Authorization: ApiKey mcl_…` / `Bearer mcl_…`). The server applies the **same credit limits, NSFW locks, and ownership rules** as the browser session for that user.\n\n## Scope of this document\n\nMachine-readable **inventory** of routes (method + path + auth class). Detailed request/field documentation lives in `docs/API_INTEGRATORS_REFERENCE.md`. Additional mounts on the same server (e.g. KIE/WaveSpeed **webhooks** under `/api/kie/callback`, `/api/wavespeed/callback`) are provider-facing, not customer API key flows.\n\n## Servers\n\nUse your deployment base URL. Paths below are relative to the `/api` prefix (e.g. `GET /health` → `https://YOUR_HOST/api/health`).",
    "contact": {
      "name": "ModelClone",
      "url": "https://modelclone.app"
    }
  },
  "servers": [
    {
      "url": "https://www.api-modelclone.com/api",
      "description": "Production"
    },
    {
      "url": "http://localhost:5000/api",
      "description": "Local development (example)"
    }
  ],
  "tags": [
    {
      "name": "Public",
      "description": "No authentication."
    },
    {
      "name": "Auth",
      "description": "Login, session, profile, 2FA."
    },
    {
      "name": "Generation",
      "description": "Core image/video pipelines (SFW and workflows)."
    },
    {
      "name": "Generations",
      "description": "History, polling, batch delete."
    },
    {
      "name": "Models",
      "description": "Saved models and training helpers."
    },
    {
      "name": "NSFW",
      "description": "LoRA, training, NSFW generation (gated by product rules)."
    },
    {
      "name": "Upload",
      "description": "Blob presign and client upload helpers."
    },
    {
      "name": "Admin",
      "description": "Admin JWT only — not customer API keys."
    },
    {
      "name": "Infrastructure",
      "description": "Cron jobs and provider callbacks — do not call with customer API keys."
    }
  ],
  "paths": {
    "/admin/activity": {
      "get": {
        "operationId": "get_admin_activity",
        "tags": [
          "Admin"
        ],
        "summary": "GET /admin/activity",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/admin/affiliate-lander/": {
      "get": {
        "operationId": "get_admin_affiliate-lander_",
        "tags": [
          "Admin"
        ],
        "summary": "GET /admin/affiliate-lander/",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "operationId": "post_admin_affiliate-lander_",
        "tags": [
          "Admin"
        ],
        "summary": "POST /admin/affiliate-lander/",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/affiliate-lander/{suffix}": {
      "delete": {
        "operationId": "delete_admin_affiliate-lander_suffix",
        "tags": [
          "Admin"
        ],
        "summary": "DELETE /admin/affiliate-lander/{suffix}",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/admin/affiliate-lander/{suffix}/config": {
      "get": {
        "operationId": "get_admin_affiliate-lander_suffix_config",
        "tags": [
          "Admin"
        ],
        "summary": "GET /admin/affiliate-lander/{suffix}/config",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/admin/affiliate-lander/{suffix}/draft": {
      "put": {
        "operationId": "put_admin_affiliate-lander_suffix_draft",
        "tags": [
          "Admin"
        ],
        "summary": "PUT /admin/affiliate-lander/{suffix}/draft",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/affiliate-lander/{suffix}/publish": {
      "post": {
        "operationId": "post_admin_affiliate-lander_suffix_publish",
        "tags": [
          "Admin"
        ],
        "summary": "POST /admin/affiliate-lander/{suffix}/publish",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/assign-lora": {
      "post": {
        "operationId": "post_admin_assign-lora",
        "tags": [
          "Admin"
        ],
        "summary": "POST /admin/assign-lora",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/backup/create": {
      "post": {
        "operationId": "post_admin_backup_create",
        "tags": [
          "Admin"
        ],
        "summary": "POST /admin/backup/create",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/backup/history": {
      "get": {
        "operationId": "get_admin_backup_history",
        "tags": [
          "Admin"
        ],
        "summary": "GET /admin/backup/history",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/admin/backup/restore-credits": {
      "post": {
        "operationId": "post_admin_backup_restore-credits",
        "tags": [
          "Admin"
        ],
        "summary": "POST /admin/backup/restore-credits",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/branding": {
      "get": {
        "operationId": "get_admin_branding",
        "tags": [
          "Admin"
        ],
        "summary": "GET /admin/branding",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "put": {
        "operationId": "put_admin_branding",
        "tags": [
          "Admin"
        ],
        "summary": "PUT /admin/branding",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/bulk-import-gallery": {
      "post": {
        "operationId": "post_admin_bulk-import-gallery",
        "tags": [
          "Admin"
        ],
        "summary": "POST /admin/bulk-import-gallery",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/cleanup-generations": {
      "post": {
        "operationId": "post_admin_cleanup-generations",
        "tags": [
          "Admin"
        ],
        "summary": "POST /admin/cleanup-generations",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/credits/add": {
      "post": {
        "operationId": "post_admin_credits_add",
        "tags": [
          "Admin"
        ],
        "summary": "POST /admin/credits/add",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/discount-codes": {
      "get": {
        "operationId": "get_admin_discount-codes",
        "tags": [
          "Admin"
        ],
        "summary": "GET /admin/discount-codes",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "operationId": "post_admin_discount-codes",
        "tags": [
          "Admin"
        ],
        "summary": "POST /admin/discount-codes",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/discount-codes/{id}": {
      "delete": {
        "operationId": "delete_admin_discount-codes_id",
        "tags": [
          "Admin"
        ],
        "summary": "DELETE /admin/discount-codes/{id}",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "patch": {
        "operationId": "patch_admin_discount-codes_id",
        "tags": [
          "Admin"
        ],
        "summary": "PATCH /admin/discount-codes/{id}",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/email-unsubscribes": {
      "get": {
        "operationId": "get_admin_email-unsubscribes",
        "tags": [
          "Admin"
        ],
        "summary": "GET /admin/email-unsubscribes",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/admin/email-unsubscribes/{email}": {
      "delete": {
        "operationId": "delete_admin_email-unsubscribes_email",
        "tags": [
          "Admin"
        ],
        "summary": "DELETE /admin/email-unsubscribes/{email}",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/admin/impersonate": {
      "post": {
        "operationId": "post_admin_impersonate",
        "tags": [
          "Admin"
        ],
        "summary": "POST /admin/impersonate",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/lander-demo-video": {
      "delete": {
        "operationId": "delete_admin_lander-demo-video",
        "tags": [
          "Admin"
        ],
        "summary": "DELETE /admin/lander-demo-video",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "operationId": "post_admin_lander-demo-video",
        "tags": [
          "Admin"
        ],
        "summary": "POST /admin/lander-demo-video",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/lander-new/config": {
      "get": {
        "operationId": "get_admin_lander-new_config",
        "tags": [
          "Admin"
        ],
        "summary": "GET /admin/lander-new/config",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/admin/lander-new/draft": {
      "put": {
        "operationId": "put_admin_lander-new_draft",
        "tags": [
          "Admin"
        ],
        "summary": "PUT /admin/lander-new/draft",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/lander-new/publish": {
      "post": {
        "operationId": "post_admin_lander-new_publish",
        "tags": [
          "Admin"
        ],
        "summary": "POST /admin/lander-new/publish",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/lora-recovery": {
      "post": {
        "operationId": "post_admin_lora-recovery",
        "tags": [
          "Admin"
        ],
        "summary": "POST /admin/lora-recovery",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/lost-generations/reconcile": {
      "post": {
        "operationId": "post_admin_lost-generations_reconcile",
        "tags": [
          "Admin"
        ],
        "summary": "POST /admin/lost-generations/reconcile",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/lost-generations/reconcile-all": {
      "post": {
        "operationId": "post_admin_lost-generations_reconcile-all",
        "tags": [
          "Admin"
        ],
        "summary": "POST /admin/lost-generations/reconcile-all",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/marketing-campaigns": {
      "get": {
        "operationId": "get_admin_marketing-campaigns",
        "tags": [
          "Admin"
        ],
        "summary": "GET /admin/marketing-campaigns",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "operationId": "post_admin_marketing-campaigns",
        "tags": [
          "Admin"
        ],
        "summary": "POST /admin/marketing-campaigns",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/marketing-campaigns/{campaignId}/cancel": {
      "post": {
        "operationId": "post_admin_marketing-campaigns_campaignId_cancel",
        "tags": [
          "Admin"
        ],
        "summary": "POST /admin/marketing-campaigns/{campaignId}/cancel",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/models/{modelId}/fix-photos": {
      "post": {
        "operationId": "post_admin_models_modelId_fix-photos",
        "tags": [
          "Admin"
        ],
        "summary": "POST /admin/models/{modelId}/fix-photos",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/models/{modelId}/looks-unlock": {
      "post": {
        "operationId": "post_admin_models_modelId_looks-unlock",
        "tags": [
          "Admin"
        ],
        "summary": "POST /admin/models/{modelId}/looks-unlock",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/models/{modelId}/nsfw-override": {
      "post": {
        "operationId": "post_admin_models_modelId_nsfw-override",
        "tags": [
          "Admin"
        ],
        "summary": "POST /admin/models/{modelId}/nsfw-override",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/nudes-pack-poses": {
      "get": {
        "operationId": "get_admin_nudes-pack-poses",
        "tags": [
          "Admin"
        ],
        "summary": "GET /admin/nudes-pack-poses",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "put": {
        "operationId": "put_admin_nudes-pack-poses",
        "tags": [
          "Admin"
        ],
        "summary": "PUT /admin/nudes-pack-poses",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/pricing/generation": {
      "get": {
        "operationId": "get_admin_pricing_generation",
        "tags": [
          "Admin"
        ],
        "summary": "GET /admin/pricing/generation",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "put": {
        "operationId": "put_admin_pricing_generation",
        "tags": [
          "Admin"
        ],
        "summary": "PUT /admin/pricing/generation",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/pricing/generation/reset": {
      "post": {
        "operationId": "post_admin_pricing_generation_reset",
        "tags": [
          "Admin"
        ],
        "summary": "POST /admin/pricing/generation/reset",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/prompt-templates": {
      "get": {
        "operationId": "get_admin_prompt-templates",
        "tags": [
          "Admin"
        ],
        "summary": "GET /admin/prompt-templates",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "put": {
        "operationId": "put_admin_prompt-templates",
        "tags": [
          "Admin"
        ],
        "summary": "PUT /admin/prompt-templates",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/provider-balances": {
      "get": {
        "operationId": "get_admin_provider-balances",
        "tags": [
          "Admin"
        ],
        "summary": "GET /admin/provider-balances",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/admin/recover-payment": {
      "post": {
        "operationId": "post_admin_recover-payment",
        "tags": [
          "Admin"
        ],
        "summary": "POST /admin/recover-payment",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/referrals/reconcile": {
      "post": {
        "operationId": "post_admin_referrals_reconcile",
        "tags": [
          "Admin"
        ],
        "summary": "POST /admin/referrals/reconcile",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/safety-checker-config": {
      "get": {
        "operationId": "get_admin_safety-checker-config",
        "tags": [
          "Admin"
        ],
        "summary": "GET /admin/safety-checker-config",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "put": {
        "operationId": "put_admin_safety-checker-config",
        "tags": [
          "Admin"
        ],
        "summary": "PUT /admin/safety-checker-config",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/safety/child-incidents": {
      "get": {
        "operationId": "get_admin_safety_child-incidents",
        "tags": [
          "Admin"
        ],
        "summary": "GET /admin/safety/child-incidents",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/admin/send-marketing-email": {
      "post": {
        "operationId": "post_admin_send-marketing-email",
        "tags": [
          "Admin"
        ],
        "summary": "POST /admin/send-marketing-email",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/send-promo-50off": {
      "post": {
        "operationId": "post_admin_send-promo-50off",
        "tags": [
          "Admin"
        ],
        "summary": "POST /admin/send-promo-50off",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/stats": {
      "get": {
        "operationId": "get_admin_stats",
        "tags": [
          "Admin"
        ],
        "summary": "GET /admin/stats",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/admin/stripe-revenue": {
      "get": {
        "operationId": "get_admin_stripe-revenue",
        "tags": [
          "Admin"
        ],
        "summary": "GET /admin/stripe-revenue",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/admin/subscriptions/reconcile": {
      "post": {
        "operationId": "post_admin_subscriptions_reconcile",
        "tags": [
          "Admin"
        ],
        "summary": "POST /admin/subscriptions/reconcile",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/subscriptions/refills/audit": {
      "post": {
        "operationId": "post_admin_subscriptions_refills_audit",
        "tags": [
          "Admin"
        ],
        "summary": "POST /admin/subscriptions/refills/audit",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/subscriptions/refills/reconcile": {
      "post": {
        "operationId": "post_admin_subscriptions_refills_reconcile",
        "tags": [
          "Admin"
        ],
        "summary": "POST /admin/subscriptions/refills/reconcile",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Many routes accept `multipart/form-data` instead — see API_INTEGRATORS_REFERENCE.md."
            }
          }
        }
      }
    },
    "/admin/telemetry/edge-events": {
      "get": {
        "operationId": "get_admin_telemetry_edge-events",
        "tags": [
          "Admin"
        ],
        "summary": "GET /admin/telemetry/edge-events",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/admin/telemetry/endpoint-health": {
      "get": {
        "operationId": "get_admin_telemetry_endpoint-health",
        "tags": [
          "Admin"
        ],
        "summary": "GET /admin/telemetry/endpoint-health",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/admin/telemetry/overview": {
      "get": {
        "operationId": "get_admin_telemetry_overview",
        "tags": [
          "Admin"
        ],
        "summary": "GET /admin/telemetry/overview",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/admin/telemetry/requests": {
      "get": {
        "operationId": "get_admin_telemetry_requests",
        "tags": [
          "Admin"
        ],
        "summary": "GET /admin/telemetry/requests",
        "description": "Authenticated user scope. Prefer header `X-Api-Key` with a key issued for your account (Business plan).",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success — JSON body shape varies by endpoint; see human-readable API reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
[...]
